/* your code here */
body {
    width: 100vw;
    background-color: springgreen;
}

.product {
    background-color: white;
    display: flex;
}

.product__info {
    display: flex;
    flex-direction: column;
	box-sizing:border-box;
}

.title span{
	color:grey;
}

.price{
	color:red;
}

.variant ul{
	list-style-type:none;
}

.price span{
	font-size:50px;
}

ul {
    display: flex;

}

.photo-container {
    /* display:flex; */

    background-color: limegreen;
}

button{
	background-color:red;
	color:white;
	padding:4px 8px;
	border:none;
	border-radius:5px;
}

h3{
	color:gray;
}
.description ul{
	display:flex;
	flex-direction:column;
}

#green_apple{
	border:1px solid gray;
}