/* your code here */
body {
    width: 100vw;
    background-color: springgreen;
}

.product {
    background-color: white;
    display: flex;
}

.product__info {
    display: flex;
    flex-direction: column;
}

ul {
    display: flex;

}

.photo-container {
    /* display:flex; */

    background-color: limegreen;
}